.achromatomaly {
    filter: url('#achromatomaly');
}

.achromatopsia {
    filter: url('#achromatopsia');
}

.deuteranomaly {
    filter: url('#deuteranomaly');
}

.deuteranopia {
    filter: url('#deuteranopia');
}

.protanomaly {
    filter: url('#protanomaly');
}

.protanopia {
    filter: url('#protanopia');
}

.tritanomaly {
    filter: url('#tritanomaly');
}

.tritanopia {
    filter: url('#tritanopia');
}