@use 'sass:math';
@import 'mixins';
@import 'switch';
@import 'filters';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #fff;
  --samp-bg: hsl(180deg, 50%, 50%);
  --samp-clr: #eeff00;
  --dark-gray: #545454
}

html {
  font-size: 16px;
}

body,
main {
  @include grid-center;
}

body {
  min-height: 100vh;
  background-color: var(--bg-clr);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  margin-top: 1rem;
}

#canvas {
  position: relative;
  background-image:
    repeating-linear-gradient(0deg, #ffffff40 0px, #ffffff40 1px, transparent 1px, transparent 10%),
    repeating-linear-gradient(90deg, #ffffff40 0px, #ffffff40 1px, transparent 1px, transparent 10%),
    linear-gradient(rgb(128, 128, 128), rgb(128, 128, 128));
  background-repeat: no-repeat;
  background-position: var(--cnv-ml, 60px) var(--cnv-mt, 30px);
  background-size: var(--cnv-w, 260px) var(--cnv-w, 260px);
  width: var(--cnv-w-tot, 340px);
  height: var(--cnv-h-tot, 326px);
}

@media screen and (min-width: 600px) {
  main {
    grid-template-areas:
      "sample sample"
      "canvas inputs";

    & #canvas {
      grid-area: canvas;
    }

    & #sample {
      grid-area: sample;
    }

    & #inputs {
      grid-area: inputs;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    & #score {
      order: -1;
    }
  }

}

#score {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-content: center;

  & p {
    position: relative;
    padding: .5em;

    &::after {
      padding-left: .25em;
    }
  }
}

#sample {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: var(--samp-bg);
  color: var(--samp-clr);
  margin-bottom: 1rem;
  border-radius: .25rem;
  transition: background-color .25s linear,
    color .25s linear;

  & span {
    text-align: center;
    padding-top: 1.5rem;

    &.large {
      font-size: 18pt;
      font-weight: bold;
    }

    &.normal {
      font-size: 14pt;
      font-weight: normal;
    }
  }

  & .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .25rem;
    width: 100%;
    font-size: .75rem;
    color: #000;
    padding: .25rem;
    background: #d3d3d3;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  & #color-blindness__container,
  & #size {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  #sample {
    height: 8rem;

    & .options {
      flex-direction: column-reverse;
    }
  }
}

#inputs {
  display: grid;
  grid-template-columns: repeat(2, 6rem) 1fr;

  & div:not([role="tooltip"]) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    position: relative;
  }

  & label {
    font-size: .8rem;
  }

  & svg {
    user-select: none;
    width: 100%;
    height: 100%;
  }
}

#score {
  & span:nth-of-type(2) {
    font-size: 1.5rem;

    &::after {
      margin-right: .25rem;
    }

    &.cr_ok {
      & span {
        font-weight: bolder;
        color: green;
      }

      &::after {
        content: '👍';
      }
    }

    &.cr_bad {
      & span {
        font-weight: bold;
        color: red;
      }

      &::after {
        content: '👎';
      }
    }
  }

  &>span:last-of-type {
    font-size: .75rem;
  }

}

input[type="color"] {
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin-top: .5rem;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
}

.btn-clipboard {
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  // color: deepskyblue;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: transform 0.25s linear;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.2);
  }
}

// Notifications
.notif {
  $h: 4em;
  width: clamp(50vw, 36ch, calc(100% - 4rem));
  min-height: $h;
  position: fixed;
  @include grid-center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY($h);
  transition-property: transform, opacity;
  transition-duration: .125s;
  transition-delay: 2s;
  transition-timing-function: cubic-bezier(0.37, 0.21, 0.72, 1.35);
  background-color: var(--dark-gray);
  color: #fff;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  padding: 0 2.5em;
  opacity: 0;

  &.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    transition-duration: .25s;
    transition-delay: 0s;
  }
}

// Accessibility

[role="tooltip"] {
  --tooltip-arrow: .5rem;
  $tt-w: 1rem;
  $tt-h: math.div(math.sqrt(3), 2) * $tt-w;
  --tooltip-w: #{$tt-w};
  --tooltip-h: #{$tt-h};
  display: none;
  position: absolute;
  max-width: clamp(calc(10ch + .5em), 14vw, 10rem);
  padding: .5em;
  font-size: .8rem;
  color: #fff;
  background: var(--dark-gray);
  border-radius: .25rem;
  z-index: 666;
  box-shadow:
    .05em .05em .1em rgba(0, 0, 0, 0.051),
    .12em .12em .3em rgba(0, 0, 0, 0.076),
    .3em .3em .6em rgba(0, 0, 0, 0.097),
    .5em .5em 1em rgba(0, 0, 0, 0.12);

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &::before {
    position: absolute;
    content: '';
    width: var(--tooltip-w);
    height: var(--tooltip-h);
    // top: 50%;
    // transform: translateY(-50%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: var(--dark-gray);
  }

  &.right {
    right: 0;
    transform: translate(calc(100% + 1rem), -50%);

    &::before {
      left: 0;
      transform: translate(calc(var(--tooltip-h) * -.8), -50%) rotate(30deg);
    }
  }

  &.left {
    left: 0;
    transform: translate(-100%, -50%);

    &::before {
      right: 0;
      transform: translate(calc(var(--tooltip-h) * .8), -50%) rotate(-30deg);
    }
  }

  @media screen and (max-width: 600px) {
    &::before {
      top: unset;
      left: 50% !important;
      transform: translateX(-50%);
      // background: deeppink !important;
    }

    &.right {
      transform: translate(50%, calc((100% + 1rem) * -1));

      &::before {
        bottom: 0;
        transform: translate(-50%, calc(var(--tooltip-h) * .7)) rotate(60deg);
        // background-color: deeppink;
      }
    }

    &.left {
      transform: translate(0%, calc(100% + .5rem));

      &::before {
        top: calc((var(--tooltip-arrow) * -1) + 1px);
        // border-color: transparent transparent var(--dark-gray) transparent;
        // border-width: 0 var(--tooltip-arrow) var(--tooltip-arrow) var(--tooltip-arrow);
      }
    }
  }

}

button:hover+[role="tooltip"],
button:focus+[role="tooltip"],
input:hover+[role="tooltip"],
input:focus+[role="tooltip"],
select:hover+[role="tooltip"],
select:focus+[role="tooltip"],
#canvas:hover>[role="tooltip"] {
  display: block;
}